<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Favorite #<%= @favorite.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>User</dt>
              <dd><%= @favorite.user.username %></dd>

              <dt>Dish</dt>
              <dd><%= @favorite.dish.name %></dd>

              <dt>Venue</dt>
              <dd><%= @favorite.venue.name %></dd>

              <dt>Notes</dt>
              <dd><%= @favorite.notes %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/favorites" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/favorites/<%= @favorite.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_favorite/<%= @favorite.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
